.ios, .md {
    
    page-home {

        .title {
            font-size: xx-large;
            font-weight: bold;
            font-family: $font-family;
        }

        ion-slide {
            align-items: flex-start;
            font-family: $font-family;
            font-size: small;
        }

        ion-item {
            margin-bottom: 5px;
            font-size: 1.2em;
            background-color: map-get($colors, primary);
        }

        flash-card {
            color: #000;

            img {
                width: 70%;
                height: auto;
            }
        }

        .start-slide {
            justify-content: center;
            align-items: center;

            button {
                font-size: 1.3em;
                font-weight: bold;
            }
        }

    } //end of page-home

} //end of .ios, .md