<ion-header>

  <ion-navbar>
    <ion-title>Cost Analysis</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>


  <ion-card>

    <ion-card-header>
      Material Cost
    </ion-card-header>

    <ion-card-content>
      
      <table>
        <tr>
          <th>Item</th>
          <th>Qty.</th>
          <th>Price</th>
          <th>Amount</th>
        </tr>

        <tr>
          <td>
            <ion-item>
              <ion-input type="text" placeholder="Item"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Qty." [(ngModel)]="quantity1"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Price" [(ngModel)]="price1" (ngModelChange)="amount1=quantity1*price1"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Amount" [(ngModel)]="amount1"></ion-input>
            </ion-item>
          </td>
        </tr>

        <tr>
          <td>
            <ion-item>
              <ion-input type="text" placeholder="Item"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Qty." [(ngModel)]="quantity2"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Price" [(ngModel)]="price2" (ngModelChange)="amount2=quantity2*price2"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Amount" [(ngModel)]="amount2"></ion-input>
            </ion-item>
          </td>
        </tr>

        <tr>
          <td>
            <ion-item>
              <ion-input type="text" placeholder="Item"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Qty." [(ngModel)]="quantity3"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Price" [(ngModel)]="price3" (ngModelChange)="amount3=quantity3*price3"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Amount" [(ngModel)]="amount3"></ion-input>
            </ion-item>
          </td>
        </tr>

        <tr *ngFor="let row of rows" ng-repeat="row in rows">
          <td>
            <ion-item>
              <ion-input type="text" placeholder="Item"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Qty." [(ngModel)]="quantity"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Price" [(ngModel)]="price" (ngModelChange)="amount=quantity*price"></ion-input>
            </ion-item>
          </td>
          <td>
            <ion-item>
                <ion-input type="text" placeholder="Amount" [(ngModel)]="amount"></ion-input>
            </ion-item>
          </td>
        </tr>
      </table>

      <br>

      <button ion-button full round [disabled]="rows?.length === maxQuantity" (click)="addRow()">
          Add Row
      </button>
      
      <button ion-button full round (click)="getTotal()">
        Calculate
      </button>

    </ion-card-content>

  </ion-card>


  <ion-card>

    <ion-card-header>
      Result
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-label Inline>Total Price:</ion-label>
        <ion-input type="number" placeholder="Total" [(ngModel)]="total"></ion-input>
      </ion-item>

    </ion-card-content>

  </ion-card>

</ion-content>
