.ios, .md {
    
    page-login {

        #login {
            background: color($colors, energy);

            .h1{
                font-size: xx-large;
                text-align: center;
                margin-top: 100px;
            }

            .div {
                font-size: large;
                text-align: center;
                margin-bottom: 30px;
            }
        }

    } //end of page-login

} //end pf .ios, .md
    