page-home {

    .content {
        background-image:url('https://wallpaperscraft.com/image/star_art_sky_night_people_silhouette_98142_750x1334.jpg');
        background-repeat: no-repeat; 
        background-size: 100% 100%;
        color: color($colors, light);
    }


    .div-container {
        margin-top: 25px;
    }


    .location {
        font-size: 35px;
        text-align: center;
    }

    .icon {
        text-align: center;
    }

    .icon img {
        width: 80px;
    }


    .desc {
        font-size: 25px;
        text-align: center;
    }


    .temp {
        font-size: 70px;
        text-align: center;
        font-weight: mornal;
    }


    .weatherDislayBackground {
        background-color: rgba(0,0,0,0.5);
        border-radius: 20px;
    }


    .weatherTextColor {
        color: white;
    }





} //end of page-home
