page-about {

    .content {
        background-image:url('https://wallpaperscraft.com/image/star_art_sky_night_people_silhouette_98142_750x1334.jpg');
        background-repeat: no-repeat; 
        background-size: 100% 100%;
    }
    

    .div-container {
        margin-top: 25px;
    }





} //end of page.about
